@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    color: #292D32;
    font-family: work sans;
  }

.container_home{
    background-color: #ffffff;

}


.navbar {
    height: 56px;
    top: 32px;
    gap: 178px;
    opacity: 0px;
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
}

.nav-items > ul > li {
    position: relative;
    display: inline;
    list-style: none;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-items > ul > li > a {
    color: #0867D7;
    text-decoration: none;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
}

.nav-items > ul > li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.17rem;
    background-color: #0867D7;
    left: 0;
    bottom: 0;
    transform-origin: 0% 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-items > ul > li:hover::after {
    transform: scaleX(1);
}

.nav-logo a,
.nav-button a {
    color: #0867D7;
    list-style: none;
    text-decoration: none;
    display: flex;
    font-family: work sans;
}

.nav-logo {
    font-size: 32px;
}

.search-form {
    background-color: #0867D7;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    padding: 8px;
}

/* .anim-layer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
} */

.search-form:hover .anim-layer {
    width: 100%;
    left: 0;
}

.search-form:hover a {
    color: #141214;
}

.search-form a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
}


#hamburger-menu,
#mobile-menu {
    display: none;
}

.search-wrapper {
    margin-top: 0px;
  }
  
  .search-input,
  .search-button {
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-size: 18px;
    color: #0867D7;
    font-family: work sans;
  }


  .search-input::placeholder{
    color: #0867D7;
    font-family: work sans;
    font-size: 16px;
  }
  .search-input {
    border: 1px solid #0867D7;
  }
  
  .search-button {
    background-color: #0867D7;
    border: none;
    color: white;
  }



@media only screen and (max-width: 770px) {
    #mobile-menu {
        background-color: #0867D7;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .mobile-nav-items > ul {
        padding: 0px;
    }

    .mobile-nav-items > ul > li {
        text-align: center;
        position: relative;
        list-style: none;
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .mobile-nav-items > ul > li > a {
        color: white;
        text-decoration: none;
    }

    .mobile-nav-items > ul > li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.17rem;
        background-color: white;
        left: 0;
        bottom: 0;
        transform-origin: 0% 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .mobile-nav-items > ul > li:hover::after {
        transform: scaleX(1);
    }

    .mobile-nav-button {
        background-color: #141214;
        border-radius: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .mobile-nav-button .anim-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: white;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .mobile-nav-button:hover .anim-layer {
        width: 100%;
        left: 0;
    }

    .mobile-nav-button:hover a {
        color: #141214;
    }

    .mobile-nav-button a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    .nav-items > ul,
    .nav-button {
        display: none;
    }

    #hamburger-cross {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 26px;
    }

    #hamburger-menu {
        display: block;
        color: #0867D7;
        cursor: pointer;
        font-size: 24px;
    }
}

/* Hero Section */
.heroSection{
    width: 993px;
    height: 267px;
    top: 200px;
    gap: 48px;
    opacity: 0px;
    margin: auto ;
    text-align: center;
    position: relative;
    z-index: 1;
}
.eText{
    color: #0867D7;
}
.heroHeader{
    font-family: work sans;
    font-family: Work Sans;
    font-size: 46.88px;
    font-weight: 600;
    line-height: 61.82px;
    text-align: center;
}
.heroText{
    position: relative;
    width: 722px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    margin: auto;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    top: -20px;
}

.heroButton{
    position: relative;
    width: 151px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 4px;
    background-color: #0867D7;
    text-align: center;
    color: #ffffff;
    align-items: center;
    margin: auto;
    top: 180px;
    cursor: pointer;
}

.heroimages{
    position: relative;
    top: 180px;
}

.sponsors{
    position: relative;
    top: 180px; 
}

.head_two{
    width: 641.52px;
    font-family: Work Sans;
    font-size: 40.89px;
    font-weight: 600;
    line-height: 58.53px;
    text-align: left;
    color: #0867D7;
}

.Text_2{
    margin: auto;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 20px;
    color: #1E2027;
}

.Text_3{
    margin: auto;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 30px;
    color: #5C5C5C;
}

.Button_two{
    position: relative;
    width: 151px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 4px;
    background-color: #0867D7;
    text-align: center;
    color: #ffffff;
    align-items: center;
    margin: auto;
    top: 40px;
    cursor: pointer;
    float: left;
    left: -215px;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;	
    top: 245px;
    width: 1238.36px;
    height: 583.02px;
    gap: 60px;
    opacity: 0px;
    margin: auto;
  }
  
.box {
         background-color: #444;
          color: #fff;
          padding: 1em;
  }
  

  .a {
      background-color: rgb(255, 255, 255);
  }
  .b {
      background-color: rgb(255, 255, 255);
  }

  .Button_2{
    width: 133px;
    height: 42px;
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 25.56px;
    font-weight: 400;
    line-height: 41.28px;
    text-align: left;
    background-color: #0867D7;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }