@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    color: #292D32;
    font-family: work sans;
  }

.container{
    background-color: #ffffff;
}